{% extends "base.html" %}
{% block content %}

<h1>Final Project Generator</h1>

<h2>{{ project.title }}</h2>
<p>{{ project.description }}</p>

<h3>Core Features</h3>
<ul>
  {% for f in project.features %}
    <li>{{ f }}</li>
  {% endfor %}
</ul>

<h3>Suggested Folder Structure</h3>
<pre>
{% for line in project.structure %}
{{ line }}
{% endfor %}
</pre>

<h3>Starter Code</h3>
<pre>{{ project.starter_code }}</pre>

<h3>Stretch Goals</h3>
<ul>
  {% for s in project.stretch_goals %}
    <li>{{ s }}</li>
  {% endfor %}
</ul>

{% endblock %}
